*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.lblue{
    background-color: #f0fafa;
}
.lrose{
    background-color: #ffece8;
}
.lviolet{
    background-color: #f3e7f5;
}
.sky{
    background-color: #d7dfe7;
}
.rain{
   background-color: #e7f9f9;
}
.container{
    height: 100%;
}
.nav{
    width: 100%;
    height: 100px;
 box-shadow: 2px 4px 2px rgba(0,0,0,0.9);
}
ul{
    display: flex;
padding-left: 100px;
padding-top: 40px;
gap: 100px;
}
ul>li{
    list-style-type: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}
ul>li:hover{
color: #4fc5c6;
}
.page1-parent{
    display: none;
}

.page1-parent{
    display: none;
}
.page1-parent{
    display: none;
}
.page1{
    height: 100vh;
    width: 100%;
    display: flex;
    gap: 20px;
   
}
.page2{
    height: 100vh;
    width: 100%;
    display: flex;
    gap: 20px;
  
}
.page3{
    height: 100vh;
    width: 100%;
    display: flex;
    gap: 20px;
    
}


.page1__side-nav{
    width: 350px;
    height: 100vh;
    background-color: lightgrey;
    display: flex;
    /* align-content: space-around; */
    gap: 40px;
    flex-direction: column;
    text-align: center;
    padding-left: 20px;
}
.page1__side-nav>li{
    display: flex;
    width: 100%;
    height: 60px;
    /* margin-left: -80px; */
    padding-top: 10px;
    margin-top: 20px;
}
.page1__side-nav>li:hover{
    background-color: white;

}
.page1__side-nav>li>span{
    margin-left: 20px;
}
/* .page1__content{
    display: flex;
    overflow: hidden;
    width: 100%;
} */
.page1__content--boxes{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    flex-wrap: wrap;
}

.box-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.box-container>.box{
    display: flex;
    padding-left: 20px;
    padding-top: 20px;
    width: 400px;
    margin-top: 20px;
    margin-left: 20px;
    height: 120px;
}
img{
    width: 50px;
   
}
.box__text{
    margin-top: 26px;
    margin-left: 20px;
    font-size: 20px;
}
.icon{
    width: 100%;
}
.display{
 
    display: none;
}
.block{
  
    display: block;
}